/**
    * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html{
    font-size: 100%;
}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
    }
table {
    border-collapse: collapse;
    border-spacing: 0;
 }




.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

* {
    box-sizing: border-box;
}



body{
    background-color: #ECECEC;
    color:#5D5D5D;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
}

h1,
h2, 
h3,
h4,
h5,
h6{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    border-bottom: 2px solid #5D5D5D;
    text-decoration: none;
}


h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.25rem;
    margin-bottom: .9rem;
}

h3 {
	font-size: 1.1rem;
    margin-bottom: .8rem;
}

h4 {
    font-size: 1rem;
    margin-bottom: .7rem;
}

h5 {
    font-size: .9rem;
    margin-bottom: .6rem;
}

h6 {
    font-size: .8rem;
    margin-bottom: .5rem;
}

strong
,b {
    color:#ffa500;
    text-decoration: bold;
}

p {
  margin-bottom: .8rem;
  line-height: 1.1rem;
}


a:link{
   text-decoration: none;
   color:#5D5D5D;
}
a:hover{
    color: color:#f5f5f5;
}
a:visited {
    color:#ffa500;
}
p a {
    text-decoration: underline;
}


.nav_main {
    display: table;
    width: 100%;
    margin-bottom: 2rem;}
    .nav_main  ul{
        display: table-row;
        width: 100%;
        color:#f5f5f5;}

        .nav_main ul li {
            display:table-cell;
            width:5rem;
            line-height:2.5rem;
            border: 3px solid #f5f5f5;
            text-align:center;
            text-decoration:none;
            color:#f5f5f5;            
            background-color: #CECE3A;
            box-shadow: 0 0 3px gray;
            font-weight:bold;}
        .nav_main ul li:hover {
            background-color:#5D5D5D;
            color:#f5f5f5;}
            .nav_main a:hover{
                color:#f5f5f5; }

            

.btn {
    display:inline-block;
    width:5rem;
    line-height:2.5rem;
    border: 3px solid #f5f5f5;
    text-align:center;
    text-decoration:none;
    background-color: #CECE3A;
    box-shadow: 0 0 3px gray;
    font-weight:bold;
}


.btn--contratame {
    display:block;
    width:7rem;
    height:3.5rem;
    line-height:3.5rem;
    border: 3px solid #f5f5f5;
    text-align:center;
    text-decoration:none;
    background-color: #ffa500;
    box-shadow: 0 0 3px gray;
    font-weight:bold;
    margin-left: 20px;
}

.btn:hover , .btn--contratame:hover {
    background: #e2e2e2;
}

.social {
    font-size: 80%;
    width:17em;
    margin-top: 1em;
    background-color:#CECE3A; 
    padding: 0.7em;
    border-radius: 1em;
    text-align: center;}
    .social a {
        margin:.2em ;
        color: #5D5D5D; }
    .social a:hover {
        color:#ffa500;}



.col1 {
  float: right;
  padding:20px;
  background-color:#e2e2e2;
  border-radius:10px;
  width:60%;
}

.collogo {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 40%;
  vertical-align: top;
  float: left;
}

.col {
  display: inline-block;
  padding:20px;
  background-color:#e2e2e2;
  border-radius:10px;
  max-width:  400px;
  margin-bottom: 20px;
}


.left {
    float:left;
}

.right{
    float: right;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.footer {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    background-color:#CECE3A
}

.logo h1{
    font-size:32px;
    line-height: 36px;
}


